In [1]:
# Importando a biblioteca pandas
import pandas as pd

In [2]:
# Carregando o arquivo csv
df = pd.read_csv("student-mat.csv",sep = ';')

In [3]:
# Vizualizando o DataFrame
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# Número de linhas e de colunas do DataFrame
df.shape

(395, 33)

In [5]:
# A função info() serve para identificar o tipo e o número de itens não-nulos de cada coluna do DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

In [6]:
# Descrição estatística da coluna 'school':
# RESULTADOS: 
# Há apenas um aluno que não estuda na escola GP
# Todos os alunos estão matriculados em uma escola (ausência de nulos)
# O tipo da coluna é object

df['school'].describe()

count     395
unique      2
top        GP
freq      349
Name: school, dtype: object

In [7]:
# Descrição estatística da coluna 'sex':
# RESULTADOS: 
# Há mais meninas que meninos na amostra de dados (208x187)
# Todos os alunos têm seu sexo informado (ausência de nulos)
# O tipo da coluna é object

df['sex'].describe()

count     395
unique      2
top         F
freq      208
Name: sex, dtype: object

In [8]:
# Descrição estatística da coluna 'age':
# RESULTADOS: 
# A média de idade dos alunos da amostra de dados é de 16.696203
# O desvio padrão é de 1.276043
# O aluno mais novo tem 15 anos e o mais velho tem 22
# Todos os alunos têm sua idade informada (ausência de nulos)
# O tipo da coluna é float64

df['age'].describe()

count    395.000000
mean      16.696203
std        1.276043
min       15.000000
25%       16.000000
50%       17.000000
75%       18.000000
max       22.000000
Name: age, dtype: float64

In [9]:
# Descrição estatística da coluna 'address':
# RESULTADOS: 
# Há mais alunos que residem no meio urbano que no meio rural(307x88)
# Todos os alunos informaram sobre seu endereço (ausência de nulos)
# O tipo da coluna é object

df['address'].describe()

count     395
unique      2
top         U
freq      307
Name: address, dtype: object

In [10]:
# Descrição estatística da coluna 'famsize':
# RESULTADOS: 
# Há mais alunos que residem no meio urbano que no meio rural(307x88)
# Todos os alunos informaram sobre seu endereço (ausência de nulos)
# O tipo da coluna é object

df['famsize'].describe()

count     395
unique      2
top       GT3
freq      281
Name: famsize, dtype: object

In [11]:
# Descrição estatística da coluna 'Pstatus':
# RESULTADOS: 
# Há mais alunos cujos pais vivem juntos (354x41)
# (ausência de nulos)
# O tipo da coluna é object

df['Pstatus'].describe()

count     395
unique      2
top         T
freq      354
Name: Pstatus, dtype: object

In [12]:
# Descrição estatística da coluna 'Medu':
# RESULTADOS: 
# A média é de 2.749367
# O desvio padrão é de 1.094735
# (ausência de nulos)
# O tipo da coluna é float64

df['Medu'].describe()

count    395.000000
mean       2.749367
std        1.094735
min        0.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        4.000000
Name: Medu, dtype: float64

In [13]:
# Descrição estatística da coluna 'Fedu':
# RESULTADOS: 
# A média é de 2.521519
# O desvio padrão é de 1.088201
# (ausência de nulos)
# O tipo da coluna é float64

df['Fedu'].describe()

count    395.000000
mean       2.521519
std        1.088201
min        0.000000
25%        2.000000
50%        2.000000
75%        3.000000
max        4.000000
Name: Fedu, dtype: float64

In [14]:
# Descrição estatística da coluna 'Mjob':
# RESULTADOS: 
# A maioria das mães trabalham com outros
# (ausência de nulos)
# O tipo da coluna é object

df['Mjob'].describe()

count       395
unique        5
top       other
freq        141
Name: Mjob, dtype: object

In [15]:
# Descrição estatística da coluna 'Fjob':
# RESULTADOS: 
# A maioria dos pais trabalham com outros
# (ausência de nulos)
# O tipo da coluna é object

df['Fjob'].describe()

count       395
unique        5
top       other
freq        217
Name: Fjob, dtype: object

In [16]:
# Descrição estatística da coluna 'reason':
# RESULTADOS: 
# A maioria das reasons é course
# (ausência de nulos)
# O tipo da coluna é object

df['reason'].describe()

count        395
unique         4
top       course
freq         145
Name: reason, dtype: object

In [17]:
# Descrição estatística da coluna 'guardian':
# RESULTADOS: 
# A maioria dos alunos têm a mãe como tutora
# (ausência de nulos)
# O tipo da coluna é object

df['guardian'].describe()

count        395
unique         3
top       mother
freq         273
Name: guardian, dtype: object

In [18]:
# Descrição estatística da coluna 'traveltime':
# RESULTADOS: 
# A média é de 1.448101
# O desvio padrão é de 0.697505
# (ausência de nulos)
# O tipo da coluna é float64

df['traveltime'].describe()

count    395.000000
mean       1.448101
std        0.697505
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        4.000000
Name: traveltime, dtype: float64

In [19]:
# Descrição estatística da coluna 'studytime':
# RESULTADOS: 
# A média é de 2.035443
# O desvio padrão é de 0.839240
# (ausência de nulos)
# O tipo da coluna é float64

df['studytime'].describe()

count    395.000000
mean       2.035443
std        0.839240
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        4.000000
Name: studytime, dtype: float64

In [20]:
# Descrição estatística da coluna 'failures':
# RESULTADOS: 
# A média é de 0.334177
# O desvio padrão é de 0.743651
# (ausência de nulos)
# O tipo da coluna é float64

df['failures'].describe()

count    395.000000
mean       0.334177
std        0.743651
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: failures, dtype: float64

In [21]:
# Descrição estatística da coluna 'schoolsup':
# RESULTADOS: 
# A maioria dos alunos não tem suporte educacional extra
# (ausência de nulos)
# O tipo da coluna é object

df['schoolsup'].describe()

count     395
unique      2
top        no
freq      344
Name: schoolsup, dtype: object

In [22]:
# Descrição estatística da coluna 'famsup':
# RESULTADOS: 
# A maioria dos alunos não tem apoio educacional à família
# (ausência de nulos)
# O tipo da coluna é object


df['famsup'].describe()

count     395
unique      2
top       yes
freq      242
Name: famsup, dtype: object

In [23]:
# Descrição estatística da coluna 'paid':
# RESULTADOS: 
# A maioria dos alunos não tem aulas extras pagas dentro da disciplina
# (ausência de nulos)
# O tipo da coluna é object

df['paid'].describe()

count     395
unique      2
top        no
freq      214
Name: paid, dtype: object

In [ ]:
# Descrição estatística da coluna 'activities':
# RESULTADOS: 
# A maioria dos alunos tem atividades extracurriculares
# (ausência de nulos)
# O tipo da coluna é object

df['activities'].describe()

count     395
unique      2
top       yes
freq      201
Name: activities, dtype: object

In [ ]:
# Descrição estatística da coluna 'nursery':
# RESULTADOS: 
# A maioria dos alunos frequentou a creche
# (ausência de nulos)
# O tipo da coluna é object

df['nursery'].describe()

count     395
unique      2
top       yes
freq      314
Name: nursery, dtype: object

In [ ]:
# Descrição estatística da coluna 'higher':
# RESULTADOS: 
# A maioria dos alunos deseja cursar o ensino superior
# (ausência de nulos)
# O tipo da coluna é object

df['higher'].describe()

count     395
unique      2
top       yes
freq      375
Name: higher, dtype: object

In [ ]:
# Descrição estatística da coluna 'internet':
# RESULTADOS: 
# A maioria dos alunos tem acesso à internet em casa
# (ausência de nulos)
# O tipo da coluna é object

df['internet'].describe()

count     395
unique      2
top       yes
freq      329
Name: internet, dtype: object

In [ ]:
# Descrição estatística da coluna 'romantic':
# RESULTADOS: 
# A maioria dos alunos não estão envolvidos em um relacionamento romântico
# (ausência de nulos)
# O tipo da coluna é object

df['romantic'].describe()

count     395
unique      2
top        no
freq      263
Name: romantic, dtype: object

In [ ]:
# Descrição estatística da coluna 'famrel':
# RESULTADOS: 
# A média é de 3.944304
# O desvio padrão é de 0.896659
# (ausência de nulos)
# O tipo da coluna é float64

df['famrel'].describe()

count    395.000000
mean       3.944304
std        0.896659
min        1.000000
25%        4.000000
50%        4.000000
75%        5.000000
max        5.000000
Name: famrel, dtype: float64

In [ ]:
# Descrição estatística da coluna 'goout':
# RESULTADOS: 
# A média é de 3.235443
# O desvio padrão é de 0.998862
# (ausência de nulos)
# O tipo da coluna é float64

df['freetime'].describe()

count    395.000000
mean       3.235443
std        0.998862
min        1.000000
25%        3.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: freetime, dtype: float64

In [ ]:
# Descrição estatística da coluna 'goout':
# RESULTADOS: 
# A média é de 3.108861
# O desvio padrão é de 1.113278
# (ausência de nulos)
# O tipo da coluna é float64

df['goout'].describe()

count    395.000000
mean       3.108861
std        1.113278
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: goout, dtype: float64

In [ ]:
# Descrição estatística da coluna 'Dalc':
# RESULTADOS: 
# A média é de 1.481013
# O desvio padrão é de 0.890741
# (ausência de nulos)
# O tipo da coluna é float64

df['Dalc'].describe()

count    395.000000
mean       1.481013
std        0.890741
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        5.000000
Name: Dalc, dtype: float64

In [ ]:
# Descrição estatística da coluna 'Walc':
# RESULTADOS: 
# A média é de 2.291139
# O desvio padrão é de 1.287897
# (ausência de nulos)
# O tipo da coluna é float64

df['Walc'].describe()

count    395.000000
mean       2.291139
std        1.287897
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        5.000000
Name: Walc, dtype: float64

In [ ]:
# Descrição estatística da coluna 'health':
# RESULTADOS: 
# A média é de 3.554430
# O desvio padrão é de 1.390303
# (ausência de nulos)
# O tipo da coluna é float64

df['health'].describe()

count    395.000000
mean       3.554430
std        1.390303
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000
Name: health, dtype: float64

In [ ]:
# Descrição estatística da coluna 'absences':
# RESULTADOS: 
# A média é de 5.708861
# O desvio padrão é de 8.003096
# (ausência de nulos)
# O tipo da coluna é float64

df['absences'].describe()

count    395.000000
mean       5.708861
std        8.003096
min        0.000000
25%        0.000000
50%        4.000000
75%        8.000000
max       75.000000
Name: absences, dtype: float64

In [ ]:
# Descrição estatística da coluna 'G1':
# RESULTADOS: 
# A média da nota final é de 10.908861
# O desvio padrão é de 3.319195
# As notas variam entre 3.0 e 19.0
# Todos os alunos informaram sobre sua nota no 1 periodo (ausência de nulos)
# O tipo da coluna é float64

df['G1'].describe()

count    395.000000
mean      10.908861
std        3.319195
min        3.000000
25%        8.000000
50%       11.000000
75%       13.000000
max       19.000000
Name: G1, dtype: float64

In [ ]:
# Descrição estatística da coluna 'G2':
# RESULTADOS: 
# A média da nota final é de 10.713924
# O desvio padrão é de 3.761505
# As notas variam entre 0.0 e 19.0
# Todos os alunos informaram sobre sua nota no 2 periodo (ausência de nulos)
# O tipo da coluna é float64

df['G2'].describe()

count    395.000000
mean      10.713924
std        3.761505
min        0.000000
25%        9.000000
50%       11.000000
75%       13.000000
max       19.000000
Name: G2, dtype: float64

In [ ]:
# Descrição estatística da coluna 'G3':
# RESULTADOS: 
# A média da nota final é de 10.415190
# O desvio padrão é de 4.581443
# As notas variam entre 0.0 e 20.0
# Todos os alunos informaram sobre sua nota final (ausência de nulos)
# O tipo da coluna é float64

df['G3'].describe()

count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64

In [ ]:
# Não há duplicatas nas tuplas do DataFrame

df.drop_duplicates

<bound method DataFrame.drop_duplicates of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
5    ...      5        4      2     1     2      5       10  15  15  15
6    ...      4        4      4     1     1      3        0  12  12  11
7    ...      4        1      4     1     1      1        6   6   5   6
8    ...      4        2      2     1     1      1        0  16  18  19
9    ...      5        5      1     1     1      5        0  14  15  15
10   ...      3        3      3     1     2      2        0  10   8   9
11   ...      5        2      2     1     1      4        4  10  12  12
12   ...      4        3      3     1     3      5        2  14  14  14
13   ...      5        4      3     1     2      3        2  10  10  11
14   ...      4        5      2     1     1      3        0  14  16  16
15   ...      4        4      4     1     2      2        4  14  14  14
16   ...      3        2      3     1     2      2        6  13  14  14
17   ...      5        3      2     1     1      4        4   8  10  10
18   ...      5        5      5     2     4      5       16   6   5   5
19   ...      3        1      3     1     3      5        4   8  10  10
20   ...      4        4      1     1     1      1        0  13  14  15
21   ...      5        4      2     1     1      5        0  12  15  15
22   ...      4        5      1     1     3      5        2  15  15  16
23   ...      5        4      4     2     4      5        0  13  13  12
24   ...      4        3      2     1     1      5        2  10   9   8
25   ...      1        2      2     1     3      5       14   6   9   8
26   ...      4        2      2     1     2      5        2  12  12  11
27   ...      2        2      4     2     4      1        4  15  16  15
28   ...      5        3      3     1     1      5        4  11  11  11
29   ...      4        4      5     5     5      5       16  10  12  11
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365  ...      3        3      4     2     4      3        4  10  10  10
366  ...      4        2      2     2     2      5        0  13  13  13
367  ...      5        2      1     1     2      1        0   7   6   0
368  ...      5        2      3     1     2      4        0  11  10  10
369  ...      3        2      2     4     2      5       10  14  12  11
370  ...      3        2      2     1     1      3        4   7   7   9
371  ...      4        3      3     2     3      3        3  14  12  12
372  ...      3        4      3     1     1      3        8  13  11  11
373  ...      3        5      5     1     3      1       14   6   5   5
374  ...      5        4      4     1     1      1        0  19  18  19
375  ...      4        3      2     1     2      4        2   8   8  10
376  ...      5        4      3     1     1      3        4  15  14  15
377  ...      5        4      3     3     4      2        4   8   9  10
378  ...      4        1      3     1     2      1        0  15  15  15
379  ...      4        5      4     2     3      1       17  10  10  10
380  ...      3        2      4     1     4      2        4  15  14  14
381  ...      4        4      3     1     3      5        5   7   6   7
382  ...      4        4      3     1     1      3        2  11  11  10
383  ...      4        3      2     1     3      5        0   6   5   0
384  ...      5        4      3     4     3      3       14   6   5   5
385  ...      5        3      3     1     3      4        2  10   9  10
386  ...      4        4      3     2     2      5        7   6   5   6
387  ...      5        4      2     1     2      5        0   7   5   0
388  ...      4        3      4     1     1      1        0   7   9   8
389  ...      1        1      1     1     1      5        0   6   5   0
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

In [ ]:
#Descrição estatística do DataFrame

df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [ ]:
# Distribuição dos dados: histogramas

import matplotlib.pyplot as plt


fig, axes = plt.subplots( nrows=5, ncols=3, figsize=(15,20) )
plt.subplots_adjust( wspace=0.20, hspace=0.50, top=0.97 )
plt.suptitle("Students Dataset", fontsize=15)

axes[0,0].hist(df.age)
axes[0,0].set_xlabel("age")
axes[0,0].set_ylabel("Number of Students")
axes[0,1].hist(df.Medu)
axes[0,1].set_xlabel("medu")
axes[0,1].set_ylabel("Number of Students")
axes[0,2].hist(df.Fedu)
axes[0,2].set_xlabel("fedu")
axes[0,2].set_ylabel("Number of Students")
axes[1,0].hist(df.traveltime)
axes[1,0].set_xlabel("traveltime")
axes[1,0].set_ylabel("Number of Students")
axes[1,1].hist(df.studytime)
axes[1,1].set_xlabel("studytime")
axes[1,1].set_ylabel("Number of Students")
axes[1,2].hist(df.failures)
axes[1,2].set_xlabel("failures")
axes[1,2].set_ylabel("Number of Students")
axes[2,0].hist(df.famrel)
axes[2,0].set_xlabel("famrel")
axes[2,0].set_ylabel("Number of Students")
axes[2,1].hist(df.freetime)
axes[2,1].set_xlabel("freetime")
axes[2,1].set_ylabel("Number of Students")
axes[2,2].hist(df.goout)
axes[2,2].set_xlabel("goout")
axes[2,2].set_ylabel("Number of Students")
axes[3,0].hist(df.Dalc)
axes[3,0].set_xlabel("dalc")
axes[3,0].set_ylabel("Number of Students")
axes[3,1].hist(df.Walc)
axes[3,1].set_xlabel("walc")
axes[3,1].set_ylabel("Number of Students")
axes[3,2].hist(df.health)
axes[3,2].set_xlabel("health")
axes[3,2].set_ylabel("Number of Students")
axes[4,0].hist(df.absences)
axes[4,0].set_xlabel("absences")
axes[4,0].set_ylabel("Number of Students")
axes[4,1].hist(df.G1)
axes[4,1].set_xlabel("g1")
axes[4,1].set_ylabel("Number of Students")
axes[4,2].hist(df.G2)
axes[4,2].set_xlabel("g2")
axes[4,2].set_ylabel("Number of Students")

plt.show()

In [ ]:
# The variables:
# “age” 
# “medu” 
# “fedu” 
# “traveltime” 
# “studytime” 
# “failures” 
# “famrel” 
# “freetime” 
# “goout” 
# “dalc” 
# “walc” 
# “health” 
# “absences” 
# “g1” 
# “g2” 
# are interger variables, which means they can be scaled

# import StandardScaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data =df

# scale the variables
data [["age", "medu", "fedu", "traveltime", "studytime", "failures", "famrel", "freetime", "goout", "dalc", "walc", "health", "absences", "g1", "g2"]]= scaler.fit_transform(data[["age", "Medu", "Fedu", "traveltime", "studytime", "failures", "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences", "G1", "G2"]])

# visualize DataFrame "head" to confirm it was correctly generated
data.head()

C:\Users\Ana Carolina Lôbo\Anaconda3a\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Ana Carolina Lôbo\Anaconda3a\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Ana Carolina Lôbo\Anaconda3a\lib\site-packages\ipykernel_launcher.py:26: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,1.023046,U,GT3,A,4,4,at_home,teacher,...,0.062194,-0.236010,0.801479,1,1,-0.399289,0.036424,5,6,-1.254791
1,GP,F,0.238380,U,GT3,T,1,1,at_home,other,...,1.178860,-0.236010,-0.097908,1,1,-0.399289,-0.213796,5,5,-1.520979
2,GP,F,-1.330954,U,LE3,T,1,1,at_home,other,...,0.062194,-0.236010,-0.997295,2,3,-0.399289,0.536865,7,8,-0.722415
3,GP,F,-1.330954,U,GT3,T,4,2,health,services,...,-1.054472,-1.238419,-0.997295,1,1,1.041070,-0.464016,15,14,0.874715
4,GP,F,-0.546287,U,GT3,T,3,3,other,other,...,0.062194,-0.236010,-0.997295,1,2,1.041070,-0.213796,6,10,-0.190038

In [ ]:
# import LabelEncoder
from sklearn import preprocessing


# creating labelEncoder
le = preprocessing.LabelEncoder()


# converting string labels into numbers
data['schoolsup']=le.fit_transform(data['schoolsup'])
data['famsup']=le.fit_transform(data['famsup'])
data['paid']=le.fit_transform(data['paid'])
data['activities']=le.fit_transform(data['activities'])
data['nursery']=le.fit_transform(data['nursery'])
data['higher']=le.fit_transform(data['higher'])
data['internet']=le.fit_transform(data['internet'])
data['romantic']=le.fit_transform(data['romantic'])

 
# then dummy code variables that have two levels, but are not numeric
data['school']=le.fit_transform(data['school'])
data['sex']=le.fit_transform(data['sex'])
data['address']=le.fit_transform(data['address'])
data['famsize']=le.fit_transform(data['famsize'])
data['Pstatus']=le.fit_transform(data['Pstatus'])

In [ ]:
#Histogramas
import matplotlib.pyplot as plt


fig, axes = plt.subplots( nrows=5, ncols=3, figsize=(15,25) )
plt.subplots_adjust( wspace=0.20, hspace=0.50, top=0.97 )
plt.suptitle("Students Dataset", fontsize=20)


fig = plt.figure()
colunas=['school', 'sex', 'age','address','famsize','pstatus','medu','fedu','traveltime','studytime','DAD_other','DAD_services', 'DAD_teacher',
        'course', 'home', 'other_reason', 'reputation', 'father', 'mother', 'other_guardian','romantic', 'famrel', 'freetime', 'goout', 'dalc', 
        'walc', 'health', 'absences', 'g1', 'g2', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet']

axes[0,0].hist(data.school)
axes[0,0].set_xlabel("school: GP->0 e MS->1")
axes[0,0].set_ylabel("Number of Students")
axes[0,1].hist(data.sex)
axes[0,1].set_xlabel("sex: F->0 e M->1")
axes[0,1].set_ylabel("Number of Students")
axes[0,2].hist(data.address)
axes[0,2].set_xlabel("address: U->1 e R->0")
axes[0,2].set_ylabel("Number of Students")
axes[1,0].hist(data.famsize)
axes[1,0].set_xlabel("famsize: GT3->0 e LE->1")
axes[1,0].set_ylabel("Number of Students")
axes[1,1].hist(data.Pstatus)
axes[1,1].set_xlabel("pstatus: A->0 e T->1")
axes[1,1].set_ylabel("Number of Students")
axes[1,2].hist(data.schoolsup)
axes[1,2].set_xlabel("schoolsup: No->0 e Yes->1")
axes[1,2].set_ylabel("Number of Students")
axes[2,0].hist(data.famsup)
axes[2,0].set_xlabel("famsup: No->0 e Yes->1")
axes[2,0].set_ylabel("Number of Students")
axes[2,1].hist(data.paid)
axes[2,1].set_xlabel("paid: No->0 e Yes->1")
axes[2,1].set_ylabel("Number of Students")
axes[2,2].hist(data.activities)
axes[2,2].set_xlabel("activities: No->0 e Yes->1")
axes[2,2].set_ylabel("Number of Students")
axes[3,0].hist(data.nursery)
axes[3,0].set_xlabel("nursery: No->0 e Yes->1")
axes[3,0].set_ylabel("Number of Students")
axes[3,1].hist(data.higher)
axes[3,1].set_xlabel("higher: No->0 e Yes->1")
axes[3,1].set_ylabel("Number of Students")
axes[3,2].hist(data.internet)
axes[3,2].set_xlabel("internet: No->0 e Yes->1")
axes[3,2].set_ylabel("Number of Students")
axes[4,0].hist(data.internet)
axes[4,0].set_xlabel("internet: No->0 e Yes->1")
axes[4,0].set_ylabel("Number of Students")

plt.show()

In [ ]:
#Correlação de Pearson

import seaborn as sns
corrData = df.corr()
plt.subplots(figsize=(20,15))
sns.heatmap(corrData, annot=True)
plt.show()